* {
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    height: 100vh;
}
.header{
    margin-top:-140px;
    position: fixed;
	min-height: 60vh; 
	width: 100%;
	background-position: center;
	background-size: cover;
    z-index: 1000;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center; 
    background-color: #FF3D55;
}
nav .logo h2{
	color: #000;
}
.nav-links{
     flex: 1;
     text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px; 
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
    background: #5057FD;
    display: block;
    margin: auto;
    transition: 0.5s
}
.nav-links ul li:hover::after{
	width: 100%;
}
.btn{
	display: inline-block;
	text-decoration: none;
    list-style: none;
	color: #fff;
	border: 2px solid #5057FD;
	padding: 8px 20px;
	font-size: 13px;
	background: #5057FD;
	position: relative;
	cursor: pointer;
}
.btn:hover{
	border: 1px solid #FF3D55;
    background-color: #FF3D55;
	transition: 1s;
}
.menu{
    display: none;
}
.main{
    margin-top: 140px;
}
#main {
    width: max-content;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    background: #25252d; 
    background: #eb258fad;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #fff;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
.accept p a{
    text-decoration: none;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}
input[type='text'], input[type='password'], input[type='email']{
    width: 100%;
    border-radius:5px;
    height:20px;
    outline: none;
    border-style: none;
    text-align: center;
    }
button {
    padding: 5px 9px;
    font-size: 15px;
    background: #0d14d3;
    width: 30%;
    outline: none;
    border-style:none;
    color: #fff;
    transition: 1s;
    margin-top: 15px;
    margin-bottom: 12px;
}
button:hover {
    background-color: #FF3D55;
  }
p{
    color: #fff;
}
button p a{
    
    text-decoration: none;
}
footer{
    width: 74.8%;
    padding: 4rem 8.5rem 0rem;
    background: #25252d;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top-right-radius: 6rem;
}
footer .logo1{
    color: #fff;
}
footer .footer-box{
    display: block;
    flex-basis: 20%;
}
.footer-box form{
    display: flex;
}
.footer-box form input[type='email']{
  border-radius: 5px 0px 0px 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
footer .footer-box h6{
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
footer .footer-box ul li{
    list-style: none;
    margin-bottom: 1rem;
}
footer .footer-box ul li a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    font-size: 1rem;
    transition: .5s;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
footer .footer-box ul li a:hover{
    text-decoration: underline;
}